<launch>
<!-- joy node -->
 <node pkg="joy" type="joy_node" name="comp1_joy" >
 	<param name="dev" type="string" value="/dev/input/js0" />
 </node>
	<remap from="joy" to="joy1" />
 <node pkg="locomotion_control" type="locomotion_control" name="loco"></node>
 <node pkg="main_camera_control" type="camera_control.py" name="camCtrl"></node> 
</launch>
